
.reg-header{
    color: rgb(180, 167, 157);
    background-image: url("../Img-registration/depositphotos_166272284-stock-photo-dark-wooden-planks.jpg");
    background-color: #00000098;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    padding: 1%;
    font-size: 5em;
}

body{
    margin: 0;
}

.form-action2{
    background-color: rgb(114, 109, 108);
    -webkit-text-fill-color:rgb(180, 167, 157, 0.9);
    background-image: url("../Img-registration/depositphotos_8214705-stock-photo-grunge-industrial-background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
}